<div class="Wrapper">
    <div class="TitleDivider" style="margin-top: 1em" ></div>
    <p style="margin-top:10px">
        <a href="https://github.com/worktips-project/onion-worktips-blockchain-explorer">Source Code</a>
        | Explorer Version (api): {{git_branch_name}}-{{last_git_commit_date}}-{{last_git_commit_hash}} ({{api}})
        | Worktips Version: {{wtipi_version_full}}
    </p>
</div>
</body>
</html>
