<div class="Wrapper">
    <h2 style="margin-bottom: 0px"> Transaction Pool</h2>

    <h4 class="Subtitle">(No Of TXs: {{mempool_size}}, Size: {{mempool_size_kB}} kB, Updated every {{ mempool_refresh_time }} seconds)</h4>
    <div class="TitleDivider"></div>

       <table style="width:100%">
          <tr class="TableHeader">
              <td>Age [HH:MM:SS]</td>
              <td>Transaction Hash</td>
              <td>Fee/Per kB [µL]</td>
              <!--<td>outputs</td>-->
              <td>In/Out/PID</td>
              <td>TX Size [kB]</td>
          </tr>
          {{#mempooltxs}}
          <tr>
              <td>{{age}}</td>
              <td><a href="/tx/{{hash}}">{{hash}}</a></td>
              <td>{{fee}}/{{payed_for_kB}}</td>
              <!--<td>{{wtip_outputs}}</td>-->
              <td>{{no_inputs}}/{{no_outputs}}/{{pID}}</td>
              <td>{{txsize}}</td>
          </tr>
          {{/mempooltxs}}
      </table>

      {{^mempool_fits_on_front_page}}
          {{#partial_mempool_shown}}
              <div class="center" style="text-align: center; margin-bottom: 10px">
                  <a href="/txpool">Only {{no_of_mempool_tx_of_frontpage}} txs shown. Click here to see all of them</a>
              </div>
          {{/partial_mempool_shown}}
      {{/mempool_fits_on_front_page}}
</div> <!-- Wrapper -->
