<div>

    <div class="center">
        <br/>
        <h3 class="center">Transaction Pusher</h3>
    </div>


    <div class="center">
        <form action="/checkandpush" method="post" style="width:100%; margin-top:15px" class="style-1">
            Paste here either a hex string of raw transaction<br/>
            (the <i>tx_blob</i> response in the wallet RPC, or the <i>raw_wtipi_tx</i>
            file saved by the wallet CLI with <i>--do-not-relay</i> option specified),<br/>
            or base64 encoded, unsigned or signed transaction data<br/>
            <br/>
            (In Linux, can get the raw tx data: <i>cat raw_wtipi_tx | xclip -selection clipboard</i>)<br/>
            (In Windows, can get the raw tx data: <i>certutil.exe -encode -f raw_wtipi_tx encoded.txt & type "encoded.txt" | clip</i>)<br/>

            <textarea name="rawtxdata" rows="20" cols="80"></textarea>
            <br/>
            Note: data is sent to the server, as the calculations are done on the server side
            <br/>
            Note: "check" does not work for the hex string of raw transaction
            <br/>
            <input type="submit" name="action" value="check">
            &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;
            <input type="submit" name="action" value="push">
        </form>
    </div>

    <br/>
</div>
